<div class="row configurator-section">

  <div class="hidden-xs col-sm-4">
    <img src="//appgyver.assets.s3.amazonaws.com/steroids-connect/images/navtheme-general.png" class="img-responsive" style="width: 100%;" alt="">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1">

    <div class="clearfix">
      <h2 class="pull-left">General layout settings</h2>
    </div>

    <div>
      <br><br><br>
      <form class="form-horizontal" role="form">


        <div class="form-group">
          <label class="col-sm-4 control-label">App background color</label>
          <div class="col-sm-8">
            <color-input color="steroidsSettings.appearance.app_background_color"></color-input>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Page background color</label>
          <div class="col-sm-8">
            <color-input color="steroidsSettings.appearance.page_background_color"></color-input>
          </div>
        </div>


      </form>
    </div>

  </div>

</div>