<div id="steroids-connect_navigation-and-themes-view" class="container">

  <!-- General layout settings -->
  <general-settings-configurator-view></general-settings-configurator-view>

  <br><br><hr><br><br>

  <!-- Navigation bar -->
  <navigation-bar-configurator-view></navigation-bar-configurator-view>

  <br><br><hr><br><br>

  <!-- Status bar -->
  <status-bar-configurator-view></status-bar-configurator-view>

  <br><br><hr><br><br>

  <!-- Tabs -->
  <tabs-configurator-view></tabs-configurator-view>

  <br><br><hr><br><br>

  <!-- Left drawer menu -->
  <drawer-configurator-view drawer-position="left"></drawer-configurator-view>

  <br><br><hr><br><br>

  <!-- Right drawer menu -->
  <drawer-configurator-view drawer-position="right"></drawer-configurator-view>

</div>