<div class="row configurator-section">

  <div class="hidden-xs col-sm-4">
    <img src="//appgyver.assets.s3.amazonaws.com/steroids-connect/images/navtheme-tabs.png" class="img-responsive" style="width: 100%;" alt="">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1">
    <div class="clearfix">
      <h2 class="pull-left">Tabs</h2>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="enable()" ng-class="{'active': isEnabled()}">On</button>
        <button type="button" class="btn btn-default" ng-click="disable()" ng-class="{'active': !isEnabled()}">Off</button>
      </div>
    </div>
  </div>

</div>