<tr class="logMsg" ng-class="(logMessage.level == 'error') ? 'level-error' : ''">
  <td class="text-muted logMsg-device-name">
    <span class="glyphicon glyphicon-phone"></span>
    <a ng-click="LogsFilterAPI.filterByDeviceName(logMessage.deviceName)">{{logMessage.deviceName}}</a>
  </td>
  <td class="text-muted logMsg-view-name">
    <span class="glyphicon glyphicon-list-alt"></span>
    <a ng-click="LogsFilterAPI.filterByViewName(logMessage.view)">{{logMessage.view}}</a>
  </td>
  <td class="text-muted logMsg-time">
    <span class="glyphicon glyphicon-time"></span>
    <abbr title="{{logMessage.timestamp | logDateFormat}}">{{logMessage.timestamp | logTimeFormat}}.{{logMessage.timestamp | logTimeMillisecondsFormat}}</abbr>
  </td>
  <td class="logMsg-content font-proxima">
    <div ng-click="toggleAdditionalDetails()" ng-class="{'has-more-details': hasAdditionalDetails()}">
      <b>{{logMessage.message}}</b>
      <span ng-if="hasAdditionalDetails()" class="caret"></span>
    </div>
    <div ng-if="hasAdditionalDetails()" ng-show="isOpen">
      <pre>{{logMessage.blob}}</pre>
    </div>
  </td>
</tr>
