<div id="view-log-view">

  <!-- Filter options -->
  <div class="row">
    <div class="col-xs-12">
      <log-filters-view></log-filters-view>
    </div>
  </div>

  <br>

  <!-- Table containing the log entries -->
  <div class="row">
    <div class="col-xs-12">
      <table>
        <tr ng-repeat="logMsg in logsApi.logs | filter:LogsFilterAPI.filters" class="logMsg" ng-class="{'type-error': logMsg.type == 'error'}">
          <td clas="logMsg-device-name" ng-click="LogsFilterAPI.filterByDeviceName(logMsg.deviceName)">{{logMsg.deviceName}}</td>
          <td clas="logMsg-time">{{logMsg.timestamp | logTimeFormat}}</td>
          <td clas="logMsg-content">{{logMsg.message}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>