<div id="view-log-filters">

  <form class="form-inline font-proxima" role="form" id="log-view-filters-form">

    <!-- Filter for log msg type -->
    <div class="form-group">
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-class="{'active': LogsFilterAPI.filters.level == availableLogLevel.level}" ng-click="LogsFilterAPI.filterByLogLevel(availableLogLevel.level)" ng-repeat="availableLogLevel in LogsFilterAPI.availableLogLevelFilters">{{availableLogLevel.label}}</button>
      </div>
    </div>

    <!-- Filter for device name -->
    <div class="form-group" style="margin-left: 10px;">
      <select name="filterByDeviceName" ng-model="LogsFilterAPI.filters.deviceName" ng-options="x.filterBy as x.label for x in LogsFilterAPI.availableDeviceNameFilters()" class="form-control"></select>
    </div>

    <!-- Filter for view name -->
    <div class="form-group" style="margin-left: 10px;">
      <select name="filterByViewName" ng-model="LogsFilterAPI.filters.view" ng-options="x.filterBy as x.label for x in LogsFilterAPI.availableViewNameFilters()" class="form-control"></select>
    </div>

    <!-- Button for clearing out all filters -->
    <div class="form-group" style="margin-left: 10px;">
      <button name="clearFiltersBtn" type="button" ng-click="LogsFilterAPI.clearFilters()" class="btn btn-default">Clear filters</button>
    </div>

    <!-- Button for clearing all of logs -->
    <div class="form-group" style="margin-left: 10px;">
      <button name="clearFiltersBtn" type="button" ng-click="LogsAPI.clear()" class="btn btn-danger">Clear log</button>
    </div>

  </form>

</div>
