<div id="view-log-view">

  <!-- Filter options -->
  <div class="row filters-container">
    <div class="col-xs-12">
      <log-filters-view class="pull-right" style="margin-left: 20px;"></log-filters-view>
    </div>
  </div>

  <!-- Table containing the log entries -->
  <div class="row bg-white logs-container">
    <div class="col-xs-12">
      <table>
        <tr ng-repeat="logMsg in LogsAPI.logs | filter:LogsFilterAPI.filters" class="logMsg" ng-class="{'type-error': logMsg.type == 'error'}">
          <td class="text-muted logMsg-device-name"><span class="glyphicon glyphicon-phone"></span> <a ng-click="LogsFilterAPI.filterByDeviceName(logMsg.deviceName)">{{logMsg.deviceName}}</a></td>
          <td class="text-muted logMsg-time"><span class="glyphicon glyphicon-time"></span> <abbr title="{{logMsg.timestamp | logDateFormat}}">{{logMsg.timestamp | logTimeFormat}}</abbr></td>
          <td class="logMsg-content font-proxima"><b>{{logMsg.message}}</b></td>
        </tr>
      </table>
    </div>
  </div>

</div>