<div id="view-cloud-settings" class="container">

  <div class="row">

    <!-- Content -->
    <div class="col-xs-12" ng-if="viewReady">
      <div class="row">

        <!-- App actions -->
        <div class="col-sm-12">

          <h2>App Cloud Settings</h2>
          <p>On this page, you can deploy your app to the AppGyver Cloud and manage your app's cloud settings, including online sharing and Build Service settings.</p>

          <br>

          <h3>App Details</h3>
          <p>App Cloud ID: <b>{{hasCloudJson ? cloudId : "&laquo;Your app hasn't been deployed to AppGyver Cloud yet.&raquo;"}}</b></p>
          <br>

          <!-- Deploy button -->
          <div class="clearfix">
            <button class="btn btn-lg btn-primary" ng-click="deploy()" ng-disabled="isDeploying" style="display: inline-block; float: left;">
              <span class="glyphicon glyphicon-cloud-upload"></span> {{isDeploying ? 'Deploying...' : 'Deploy to cloud'}}
            </button>
            <ag-ui-spinner size="29" color="black" ng-show="isDeploying" style="display: inline-block; float: left; margin-left: 10px;"></ag-ui-spinner>
          </div>

          <p class="text-muted" ng-hide="hasCloudJson || deployError" style="padding-top: 6px;"><small>Deploy the app to AppGyver Cloud to use the Build Service <br class="hidden-xs hidden-sm">and to share your app online.</small></p>

          <p class="text-danger" ng-show="deployError" style="margin-top: 6px;"><small>{{deployError}}</small></p>

        </div>
      </div>

      <div class="row" ng-show="hasCloudJson">
        <div class="col-sm-6">
          <br>
          <br class="hidden-xs hidden-sm">
          <h2>Build Service</h2>
          <p>The Build Service allows you to configure your app's build settings and create stand-alone builds.</p>
          <br>
          <a class="btn btn-lg btn-primary" ng-href="http://cloud.appgyver.com/applications/{{cloudId}}" target="_blank">
            <span class="glyphicon glyphicon-cog"></span> Open Build Service
          </a>
          <a class="guide-link" href="http://docs.appgyver.com/tooling/build-service/" target="_blank"><span class="glyphicon glyphicon-question-sign guide-glyphicon-build-service"></span></a>
        </div>

        <div class="col-sm-6">
          <br>
          <br class="hidden-xs hidden-sm">
          <h2>Share App</h2>
          <p>The cloud-deployed version of your app can be shared online. The QR code at the link above can be scanned by anyone with an AppGyver Scanner, allowing you to easily share your app with whomever you want. Note that the share page will always serve the latest cloud-deployed version of your app.</p>
          <br>
          <a class="btn btn-primary" ng-href="https://share.appgyver.com/?id={{cloudId}}&hash={{cloudHash}}" target="_blank">
            <span class="glyphicon glyphicon-qrcode"></span> Open cloud share page
          </a>
        </div>

      </div>
    </div>

  </div>

</div>
