<div id="view-docs" class="container">

  <div class="row padding-top">

    <div class="col-sm-12">
      <h1>Build Settings</h1>

      <p style="padding:20px" class="bg-info" ng-show="flashMsg">{{flashMsg}}</p>

      <p>On this tab, you can configure the build settings for your app.</p>
      <div ng-show="waiting">{{waiting}}</div>
      <div ng-hide="waiting">
        <div ng-show="noCloudJson">
          <p>No <code>config/cloud.json</code> found. Please click below to deploy your app to the cloud.</p>
          <button class="btn btn-lg btn-primary" ng-click="deploy()">
            Deploy <span class="glyphicon glyphicon-cloud-upload">
          </button>
        </div>
        <div ng-hide="noCloudJson">
          <a class="btn btn-lg btn-primary" ng-href="http://cloud.appgyver.com/applications/{{cloudId}}" target="_blank">
            Configure your app's build settings in the Build Service &raquo;
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
