<div id="view-preview-view" class="container">
  <div class="row">

    <!-- QR code -->
    <div class="col-xs-12 col-sm-6 col-md-5">
      <div class="row">
        <div class="col-xs-12">
          <qrcode version="8" error-correction-level="M" size="100%" data="{{qrCode}}" class="img-responsive"></qrcode>
          <br><br>
        </div>
        <div class="col-xs-12">
          <h3>AppGyver Scanner</h3>
          <p>To connect your device with the Steroids Development Server and start developing your app, please scan the QR code above with the AppGyver Scanner app.</p>
          <p>Download AppGyver Scanner from App Store or Google Play.</p>
          </p>
          <br>
        </div>
        <div class="col-xs-6">
          <a href="https://itunes.apple.com/fi/app/appgyver-scanner/id575076515" target="_blank" title="AppGyver Scanner on App Store">
            <img src="//appgyver.assets.s3.amazonaws.com/steroids-connect/images/badge-app-store.png" alt="Download Scanner from App Store" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://play.google.com/store/apps/details?id=com.appgyver.freshandroid" target="_blank" title="AppGyver Scanner on Google Play">
            <img src="//appgyver.assets.s3.amazonaws.com/steroids-connect/images/badge-google-play.png" alt="Download Scanner from Google Play" class="img-responsive">
          </a>
        </div>
      </div>
    </div>

    <!-- Connected devices -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
      <br class="visible-xs"><br class="visible-xs">
      <h2 class="no-margin">Connected devices:</h2>
      <br>
      <ul class="devices-list">
        <li ng-repeat="device in DevicesAPI.devices">
          <!-- S/ DEBUG -->
          <div class="dropdown pull-right" style="margin-top: 6px;" ng-if="device.device!='Android' && device.simulator">
            <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="ios_simulator_debug_dropdown" data-toggle="dropdown" aria-expanded="true" ng-click="reloadViewsToDebug()">
              Debug
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="ios_simulator_debug_dropdown">
              <li ng-hide="loadingViewsToDebug" ng-repeat="debuggable in viewsToDebug"><a role="menuitem" tabindex="-1" ng-click="debugViewByUrl(debuggable)">{{debuggable | viewUrlToRouteName}}</a></li>
              <li ng-show="loadingViewsToDebug" class="clearfix" style="padding-left: 10px; padding-right: 10px;">
                <div style="vertical-align: center;"><ag-ui-spinner size="22" color="black" style="display: inline-block; float: left;"></ag-ui-spinner> <span style="vertical-align: top; display: inline-block; float: left; line-height: 22px; margin-left: 10px;">Getting views...</span></div>
              </li>
            </ul>
          </div>
          <button class="btn btn-lg btn-primary pull-right" style="margin-top: 6px;" ng-if="device.device=='Android'" type="button" ng-click="openChromeInspector()">
            Debug
          </button>
          <!-- E/ DEBUG -->
          <div class="status-indicator" ng-class="{'yellow': false, 'green': true}"></div>
          <h2 class="no-margin"><b>{{device.device}}{{device.simulator? " simulator" : ""}}</b></h2>
          <span class="text-muted"><small>Scanner: <b>{{device.version}}</b> &middot; OS: <b>{{device.osVersion | strReplace:'_':'.'}}</b> &middot; IP: <b>{{device.ipAddress}}</b></small></span>
          <span ng-if="!device.connected && device.error"><a href="">{{device.error.message}}</a></span>
        </li>
      </ul>
      <p ng-hide="DevicesAPI.devices">No connected devices detected. Please scan the QR code on the left with your iOS or Android device running the AppGyver Scanner app, or launch the iOS Simulator.<br><br></p>
      <br>

      <div class="clearfix">
        <div class="pull-left" style="line-height: 29px; margin-right: 10px;"><b>Emulate:</b></div>
        <div class="dropdown pull-left" style="margin-right: 10px;">
          <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="ios_dropdown" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-phone"></span>
            iOS
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="ios_dropdown">
            <li><a role="menuitem" tabindex="-1" ng-click="launchSimulator()">Default simulator</a></li>
            <li class="divider"></li>
            <li ng-repeat="deviceSimulator in availableSimulators"><a role="menuitem" tabindex="-1" ng-click="launchSimulator(deviceSimulator)"><b>{{deviceSimulator.name}}</b> <span class="text-muted">@{{deviceSimulator.sdks}}</span></a></li>
          </ul>
        </div>
        <div class="dropdown pull-left">
          <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="android_dropdown" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-phone"></span>
            Android
            <span class="caret"></span>
          </button>
           <ul class="dropdown-menu" role="menu" aria-labelledby="android_dropdown">
             <li><a role="menuitem" tabindex="-1" ng-click="launchEmulator()">Emulator</a></li>
             <li><a role="menuitem" tabindex="-1" ng-click="launchGenymotion()">Genymotion</a></li>
           </ul>
         </div>
      </div>

      <!-- Emulator/Simulator status -->
      <br>
      <div class="clearfix">
        <div class="simulator-status" ng-class="{'active': simulatorStatus.state!='', 'text-success': simulatorStatus.state=='success', 'text-danger': simulatorStatus.state=='error'}">{{simulatorStatus.stateMessage}}</div>
      </div>
      <div class="clearfix">
        <div class="simulator-status" ng-class="{'active': emulatorStatus.state!='', 'text-success': emulatorStatus.state=='success', 'text-danger': emulatorStatus.state=='error'}">{{emulatorStatus.stateMessage}}</div>
      </div>
      <div class="clearfix">
        <div class="simulator-status" ng-class="{'active': genymotionStatus.state!='', 'text-success': genymotionStatus.state=='success', 'text-danger': genymotionStatus.state=='error'}">{{genymotionStatus.stateMessage}}</div>
      </div>

    </div>

  </div>
</div>
