<div id="view-generators" class="container">

  <!-- View header -->
  <div class="row">
    <div class="col-xs-12">
      <h2>Generators:</h2>
      <br><br>
    </div>
  </div>

  <!-- List of available generators -->
  <div class="row">

    <!-- Individual cards -->
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="generator in GeneratorsAPI.generators">
      <div class="generator-card">
        <div class="generator-name font-proxima"><b>{{generator.name}}</b></div>
      </div>
    </div>

  </div>

</div>