// Import style dependencies

@import "globals/IMPORTER"

@import "colorpicker/colorpicker.css.sass"


////////////////////////////////////////////////////////////////
//  NAVIGATION & HEADER
////////////////////////////////////////////////////////////////

.ag__steroids-connect

  .ag__steroids-connect__header
    background-color: $color-blue
    color: white
    border: none
    margin-bottom: 0px

    .navbar-brand
      img
        max-height: 30px
        margin-top: -5px

    .nav
      li

        a
          color: white
          font-family: "Proxima Nova Soft W03 Smbd"
          cursor: pointer

        &.active
          a
            color: black
            background: none

  .ag__steroids-connect__status-bar
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    vertical-align: top
    color: $color-gray-4
    height: 22px

    .ag__steroids-connect__status-bar__status-text
      margin: 0px
      padding: 0px
      line-height: 18px
      display: inline-block
      vertical-align: top
      color: $color-gray-6

    .ag__steroids-connect__status-bar__iconbox
      display: inline-block
      vertical-align: top
      line-height: 18px
      height: 18px
      font-size: 12px
      margin: 0px
      padding: 0px

.no-margin
  margin: 0px

////////////////////////////////////////////////////////////////
//  LOG VIEW
////////////////////////////////////////////////////////////////

.ag__steroids-connect

  #view-log-filters

    .btn

      &.btn-default
        background: $color-blue-dark-7
        border-color: $color-blue-dark-6
        color: white
        &.active
          background: $color-blue-dark-6
          border-color: $color-blue-dark-5
          color: white

    select
      background: $color-blue-dark-7
      border-color: $color-blue-dark-6
      color: white
      box-shadow: none
      -webkit-box-shadow: none

  .filters-container
    padding-top: 10px
    padding-bottom: 10px
    background: $color-blue-dark

  .logs-container
    padding-top: 20px
    padding-bottom: 20px

    table
      width: 100%

      th, td
        vertical-align: top

      thead
        th
          padding-bottom: 10px

      .logMsg-device-name, .logMsg-view-name, .logMsg-time
        padding-right: 20px
        white-space: nowrap

      .logMsg-time
        padding-right: 40px

      .logMsg-content
        width: 100%

        .has-more-details
          cursor: pointer

      .logMsg
        padding-bottom: 2px
        -webkit-animation: bg-fade 0.5s 1
        -moz-animation: bg-fade 0.5s 1

        &.level-error
          .logMsg-content
            color: $color-red

        .glyphicon
          color: #eee
          display: none

        .caret
          cursor: pointer

@-webkit-keyframes bg-fade
  0%
    background-color: $color-blue-1
  100%
    background-color: transparent

@-moz-keyframes bg-fade
  0%
    background-color: $color-blue-1
  100%
    background-color: transparent


////////////////////////////////////////////////////////////////
// PREVIEW VIEW
////////////////////////////////////////////////////////////////

#view-preview-view

  padding-top: 40px
  padding-bottom: 40px

  ul.devices-list
    list-style: none

    > li
      position: relative
      margin-bottom: 20px

      .status-indicator
        width: 12px
        height: 12px
        border-radius: 100%
        -moz-border-radius: 100%
        -webkit-border-radius: 100%
        background: $color-red
        position: absolute
        left: -26px
        top: 16px

        &.yellow
          background: $color-orange

        &.green
          background: $color-green

////////////////////////////////////////////////////////////////
// DOCS VIEW
////////////////////////////////////////////////////////////////

#view-docs

  padding-top: 40px
  padding-bottom: 40px

////////////////////////////////////////////////////////////////
// CLOUD SETTINGS VIEW
////////////////////////////////////////////////////////////////

#view-cloud-settings

  padding-top: 40px
  padding-bottom: 40px

////////////////////////////////////////////////////////////////
// DATA VIEW
////////////////////////////////////////////////////////////////

#view-data

  padding-top: 40px
  padding-bottom: 40px