// Import style dependencies

@import "globals/IMPORTER"

@import "colorpicker/colorpicker.css.sass"


////////////////////////////////////////////////////////////////
//  NAVIGATION & HEADER
////////////////////////////////////////////////////////////////

.ag__steroids-connect

  .ag__steroids-connect__header
    background-color: $color-blue
    color: white
    border: none
    margin-bottom: 0px

    .navbar-brand
      img
        max-height: 30px
        max-width: 151px
        margin-top: -5px

    .nav
      li

        a
          color: white
          font-family: "Proxima Nova Soft W03 Smbd"
          cursor: pointer

        &.active
          a
            color: black
            background: none

  .ag__steroids-connect__status-bar
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    vertical-align: top
    color: $color-gray-4
    height: 22px

    .ag__steroids-connect__status-bar__status-text
      margin: 0px
      padding: 0px
      line-height: 18px
      display: inline-block
      vertical-align: top
      color: $color-gray-6

      &.red
        color: $color-red

    .ag__steroids-connect__status-bar__iconbox
      display: inline-block
      vertical-align: top
      line-height: 18px
      height: 18px
      font-size: 12px
      margin: 0px
      padding: 0px

  .error-container
    opacity: 0
    max-height: 0px
    &.error-active
      opacity: 1
      max-height: auto

  .not-connected-error
    max-width: 600px
    width: 100%
    background: white
    border: 4px $color-red solid
    color: $color-red
    padding: 30px
    margin: 60px auto

    -ms-transform:      translate3d(0, -2%, 0) scale(0.9)
    -moz-transform:     translate3d(0, -2%, 0) scale(0.9)
    -webkit-transform:  translate3d(0, -2%, 0) scale(0.9)
    transform:          translate3d(0, -2%, 0) scale(0.9)

    -ms-transition:     200ms ease-in-out
    -moz-transition:    200ms ease-in-out
    -webkit-transition: 200ms ease-in-out
    transition:         200ms ease-in-out

    &.error-active
      -ms-transform:     translate3d(0, 0, 0) scale(1.0)
      -moz-transform:    translate3d(0, 0, 0) scale(1.0)
      -webkit-transform: translate3d(0, 0, 0) scale(1.0)
      transform:         translate3d(0, 0, 0) scale(1.0)

    h1, h2
      margin-top: 0px

  .simulator-status
    display: none
    opacity: 0

    -ms-transform:      translate3d(0, 0, 0) scale(0.8)
    -moz-transform:     translate3d(0, 0, 0) scale(0.8)
    -webkit-transform:  translate3d(0, 0, 0) scale(0.8)
    transform:          translate3d(0, 0, 0) scale(0.8)

    -ms-transition:     200ms cubic-bezier(0.64, 0.57, 0.67, 1.53)
    -moz-transition:    200ms cubic-bezier(0.64, 0.57, 0.67, 1.53)
    -webkit-transition: 200ms cubic-bezier(0.64, 0.57, 0.67, 1.53)
    transition:         200ms cubic-bezier(0.64, 0.57, 0.67, 1.53)

    &.active
      display: inline-block
      opacity: 1

      -ms-transform:     translate3d(0, 0, 0) scale(1.0)
      -moz-transform:    translate3d(0, 0, 0) scale(1.0)
      -webkit-transform: translate3d(0, 0, 0) scale(1.0)
      transform:         translate3d(0, 0, 0) scale(1.0)

  .text-noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  .text-selectable
    -webkit-touch-callout: text
    -webkit-user-select: text
    -khtml-user-select: text
    -moz-user-select: text
    -ms-user-select: text
    user-select: text

.no-margin
  margin: 0px

////////////////////////////////////////////////////////////////
//  LOG VIEW
////////////////////////////////////////////////////////////////

.ag__steroids-connect

  #view-log-filters

    .btn

      &.btn-default
        background: $color-blue-dark-7
        border-color: $color-blue-dark-6
        color: white
        &.active
          background: $color-blue-dark-6
          border-color: $color-blue-dark-5
          color: white

    select
      background: $color-blue-dark-7
      border-color: $color-blue-dark-6
      color: white
      box-shadow: none
      -webkit-box-shadow: none
      text-transform: none !important

  .filters-container
    padding-top: 10px
    padding-bottom: 10px
    background: $color-blue-dark

  .logs-container
    padding-top: 20px
    padding-bottom: 20px

    table
      width: 100%

      th, td
        vertical-align: top

      thead
        th
          padding-bottom: 10px

      .logMsg-device-name, .logMsg-view-name, .logMsg-time, .logMsg-level
        padding-right: 20px
        white-space: nowrap

      .logMsg-level
        padding-right: 40px

      .logMsg-content
        width: 100%

        .has-more-details
          cursor: pointer

      .logMsg
        padding-bottom: 2px
        -webkit-animation: bg-fade 0.5s 1
        -moz-animation: bg-fade 0.5s 1

        &.level-error
          .logMsg-content
            color: $color-red

        .glyphicon
          color: #eee
          display: none

        .caret
          cursor: pointer

@-webkit-keyframes bg-fade
  0%
    background-color: $color-blue-1
  100%
    background-color: transparent

@-moz-keyframes bg-fade
  0%
    background-color: $color-blue-1
  100%
    background-color: transparent


////////////////////////////////////////////////////////////////
// PREVIEW VIEW
////////////////////////////////////////////////////////////////

#view-preview-view

  padding-top: 40px
  padding-bottom: 40px

  ul.devices-list
    list-style: none

    > li
      position: relative
      margin-bottom: 20px

      .status-indicator
        width: 12px
        height: 12px
        border-radius: 100%
        -moz-border-radius: 100%
        -webkit-border-radius: 100%
        background: $color-red
        position: absolute
        left: -26px
        top: 16px

        &.yellow
          background: $color-orange

        &.green
          background: $color-green

////////////////////////////////////////////////////////////////
// DOCS VIEW
////////////////////////////////////////////////////////////////

#view-docs

  padding-top: 40px
  padding-bottom: 40px

////////////////////////////////////////////////////////////////
// CLOUD SETTINGS VIEW
////////////////////////////////////////////////////////////////

#view-cloud-settings

  padding-top: 40px
  padding-bottom: 40px

////////////////////////////////////////////////////////////////
// DATA VIEW
////////////////////////////////////////////////////////////////

#view-data

  padding-top: 40px
  padding-bottom: 40px