<div id="view-data" class="container">

  <div class="row padding-top">
    <div class="col-xs-12">
      <h1>Data</h1>
      <p>On this tab, you can configure Steroids Data for your app.</p>
    </div>
  </div>

  <div class="row">
    <div ag-data-browser-ui data-raml-url="/cloud.raml"></div>
  </div>


  <br>
  <br>
  <br>


  <div class="row padding-top">
    <div class="col-sm-12">
      <p style="padding:20px" class="bg-info" ng-show="flashMsg">{{flashMsg}}</p>

      <div ng-show="waiting">{{waiting}}</div>
      <div ng-hide="waiting">
        <div ng-switch="status">

          <div ng-switch-when="notDeployed">
            <p>Your application needs to be deployed to the cloud to be connected with Steroids Data.</p>
            <p>Go to the build settings tab to deploy your application.</p>
          </div>

          <div ng-switch-when="noDataConnection">
            <p>No <code>config/sandboxdb.yaml</code> found. Please click below to add data to your app.</p>
            <button class="btn btn-lg btn-primary" ng-click="initData()">
              Connect to Steroids Data <span class="glyphicon glyphicon-data">
            </button>
          </div>

          <div ng-switch-when="dataInitialized">
            <p>Your application is in the cloud and connected with Steroids Data. Use the data browser above to add resources to your app.</p>
          </div>
        </div>
    </div>

  </div>

</div>
