<div id="view-data" class="container">


  <!-- Title + tabs -->

  <div class="row">
    <div class="col-xs-12">
      <h1 class="no-margin">Data</h1>
      <p>On this tab, you can configure Steroids Data for your app.</p>
      <ul class="nav nav-pills pull-right" ng-if="viewReady && dataReady">
        <li ng-class="{'active': currentTab == 'configure'}">
          <a ng-click="setCurrentTab('configure')">1. Configure data</a>
        </li>
        <li ng-class="{'active': currentTab == 'browse'}">
          <a ng-click="setCurrentTab('browse')">2. Browse data</a>
        </li>
        <li ng-class="{'active': currentTab == 'generate'}">
          <a ng-click="setCurrentTab('generate')">3. Generate scaffolds</a>
        </li>
        <li>
          <a ng-click="synchronize()">4. Export configuration to project</a>
        </li>
      </ul>
      <br><br>
    </div>
  </div>


  <!-- If data is not initialized -->

  <div class="row" ng-if="viewReady && !dataReady">
    <div class="col-xs-12">

      <!-- Initialize button -->
      <div class="clearfix">
        <button class="btn btn-lg btn-primary" ng-click="initializeData()" ng-disabled="isInitializing" style="display: inline-block; float: left;">
          <span class="glyphicon glyphicon-cloud-upload"></span> {{isInitializing ? 'Initializing...' : 'Initialize data'}}
        </button>
        <ag-ui-spinner size="29" color="black" ng-show="isInitializing" style="display: inline-block; float: left; margin-left: 10px;"></ag-ui-spinner>
      </div>

      <p ng-class="{'text-muted': !error, 'text-danger': error}" style="margin-top: 6px;"><small>{{error ? error : "Before you can use data, your app needs to be deployed to the cloud."}}</small></p>

    </div>
  </div>


  <!-- All good! -->

  <div class="row" ng-if="viewReady && dataReady">
    <div class="col-xs-12">

      <!-- Data Browser -->

      <div class="row" ng-if="currentTab=='browse'">
        <div ag-data-browser-ui data-raml-url="https://config-api.appgyver.com/application_configuration/app/{{cloudId}}/raml.yml?identification_hash={{cloudHash}}"></div>
      </div>

      <!-- Data Configurator -->

      <div class="row" ng-if="currentTab=='configure'">
        <div ag-data-configurator config-api-base-url="https://config-api.appgyver.com/application_configuration" config-api-app-id="{{cloudId}}" config-api-authorization-token="{{accessToken}}"></div>
      </div>

      <!-- Scaffold generator -->

      <div class="row" ng-if="currentTab=='generate'">
        <data-data-generators-view config-api-base-url="https://config-api.appgyver.com/application_configuration" app-id="{{cloudId}}" authorization-token="{{accessToken}}"></data-data-generators-view>
      </div>

    </div>
  </div>


</div>
