<div id="view-data" class="container">


  <!-- Title + tabs -->

  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills pull-right" ng-if="viewReady && appDeployed">
        <li ng-class="{'active': dataTab == 'browse'}">
          <a ng-click="setDataTab('browse')">Browse data</a>
        </li>
        <li ng-class="{'active': dataTab == 'configure'}">
          <a ng-click="setDataTab('configure')">Configure data</a>
        </li>
      </ul>
      <h1 class="no-margin">Data</h1>
      <p>On this tab, you can configure Steroids Data for your app.</p>
      <br><br>
    </div>
  </div>


  <!-- If app's not deployed -->

  <div class="row" ng-if="viewReady && !appDeployed">
    <div class="col-xs-12">

      <!-- Deploy button -->
      <div class="clearfix">
        <button class="btn btn-lg btn-primary" ng-click="deploy()" ng-disabled="isDeploying" style="display: inline-block; float: left;">
          <span class="glyphicon glyphicon-cloud-upload"></span> {{isDeploying ? 'Deploying...' : 'Deploy to cloud'}}
        </button>
        <ag-ui-spinner size="29" color="black" ng-show="isDeploying" style="display: inline-block; float: left; margin-left: 10px;"></ag-ui-spinner>
      </div>

      <p ng-class="{'text-muted': !error, 'text-danger': error}" style="margin-top: 6px;"><small>{{error ? error : "Before you can use data, your app needs to be deployed to the cloud."}}</small></p>

    </div>
  </div>


  <!-- All good! -->

  <div class="row" ng-if="viewReady && appDeployed">
    <div class="col-xs-12">

      <!-- Data Browser -->

      <div class="row" ng-if="dataTab=='browse'">
        <div ag-data-browser-ui data-raml-url="https://composer.appgyver.com/application_configuration/app/{{cloudId}}/raml.yml?identification_hash={{cloudHash}}"></div>
      </div>

      <!-- Data Configurator -->

      <div class="row" ng-if="dataTab=='configure'">
        <div ag-data-configurator config-api-base-url="https://config-api.appgyver.com/application_configuration" config-api-app-id="{{cloudId}}" config-api-authorization-token="{{accessToken}}"></div>
      </div>

    </div>
  </div>


</div>
