<div id="view-connect-ui" class="ag__global__products ag__steroids-connect">

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-static-top ag__steroids-connect__header" role="navigation">
    <div class="container">

      <!-- Navbar header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ag-steroids-connect-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img src="//s3.amazonaws.com/appgyver.assets/global-assets/images/appgyver-universal-logos/appgyver-logo-white.svg" alt="Steroids Connect">
        </div>
      </div>

      <!-- Navbar links -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="tab in tabs" ng-class="{'active': $state.includes(tab.stateHref)}"><a ui-sref="{{tab.stateHref}}">{{tab.label}}</a></li>
      </ul>

    </div>
  </nav>

  <!-- Statubar -->
  <div class="ag__steroids-connect__status-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" ng-if="isConnected && workingOn">
          <ag-ui-spinner size="18" color="#999C9C" style="display: inline-block;"></ag-ui-spinner>
          <p class="ag__steroids-connect__status-bar__status-text">{{workingOn}}</p>
        </div>
        <div class="col-xs-12" ng-if="isConnected && !workingOn">
          <span class="ag__steroids-connect__status-bar__iconbox glyphicon glyphicon-ok"></span>
          <p class="ag__steroids-connect__status-bar__status-text">Connection established with the Steroids Development Server, all good!</p>
        </div>
        <div class="col-xs-12" ng-if="!isConnected">
          <span class="ag__steroids-connect__status-bar__iconbox glyphicon glyphicon-warning-sign"></span>
          <p class="ag__steroids-connect__status-bar__status-text red"><b>Cannot connect to the Steroids Development Server!</b> Start the Steroids Development Server by running <code>steroids connect</code> in Terminal in your project directory.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ui-router views -->
  <div class="container-fluid" ui-view></div>

</div>
