<div id="view-connect-ui" class="ag__global__products ag__steroids-connect">

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-static-top ag__steroids-connect__header" role="navigation">
    <div class="container">

      <!-- Navbar header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ag-steroids-connect-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img src="//s3.amazonaws.com/appgyver.assets/global-assets/images/appgyver-universal-logos/appgyver-logo-white.svg" alt="Steroids Connect">
        </div>
      </div>

      <!-- Navbar links -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="tab in tabs" ng-class="{'active': currentTab() == tab.name}"><a ng-click="setTab(tab.name)">{{tab.label}}</a></li>
      </ul>

    </div>
  </nav>

  <!-- Statubar -->
  <div class="ag__steroids-connect__status-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" ng-if="isConnected && workingOn">
          <ag-ui-spinner size="18" color="#999C9C" style="display: inline-block;"></ag-ui-spinner>
          <small class="ag__steroids-connect__status-bar__status-text">{{workingOn}}</small>
        </div>
        <div class="col-xs-12" ng-if="isConnected && !workingOn">
          <span class="ag__steroids-connect__status-bar__iconbox glyphicon glyphicon-ok"></span>
          <small class="ag__steroids-connect__status-bar__status-text">Steroids connected &amp; ready.</small>
        </div>
        <div class="col-xs-12" ng-if="!isConnected">
          <span class="ag__steroids-connect__status-bar__iconbox glyphicon glyphicon-warning-sign"></span>
          <small class="ag__steroids-connect__status-bar__status-text red"><b>Cannot connect to Steroids!</b> Start Steroids by running ´<b>steroids connect</b>´ in terminal in your project directory.</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Subviews -->
  <div class="container-fluid" ng-switch on="currentTab()">

    <!-- Preview -->
    <div ng-switch-when="qr">
      <preview-view></preview-view>
    </div>

    <!-- Navigation -->
    <div ng-switch-when="navigation">
      <navigation-and-themes-view></navigation-and-themes-view>
    </div>

    <!-- Backend -->
    <div ng-switch-when="backend">
      <iframe src="http://composer.testgyver.com/wizard_iframe_providers/592" id="provider-wizard" frameborder="0" width="100%" scrolling="no" style="overflow: hidden; height: 181px;"></iframe>
    </div>

    <!-- Logs -->
    <div ng-switch-when="logs">
      <log-view></log-view>
    </div>

    <!-- Documentation -->
    <div ng-switch-when="docs">
      <docs-view></docs-view>
    </div>

    <!-- Build Settings -->
    <div ng-switch-when="build-settings">
      <build-settings-view></build-settings-view>
    </div>

    <!-- Data -->
    <div ng-switch-when="data">
      <cloud-data-view></cloud-data-view>
    </div>

    <!-- Generators -->
    <div ng-switch-when="generators">
      <generators-view></generators-view>
    </div>

  </div>

</div>
