<div id="data-view-generators" class="container">

  <!-- View header -->
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h3 style="margin: 0px;">Data Generators:</h3>
      <p>Generate an AngularJS-based CRUD scaffold from your data resources.</p>
    </div>
  </div>

  <br><br>

  <!-- List of available generators -->
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <label for="resourceName" class="col-sm-4 control-label">Data Resource</label>
          <div class="col-sm-8">
            <select ng-hide="loadingResources" name="resourceSelector" class="form-control" ng-model="selectedResource" ng-options="resource as resource.name for resource in resources"></select>
            <div ng-show="loadingResources" class="form-control-static" style="vertical-align: center;"><ag-ui-spinner size="22" color="black" style="display: inline-block; float: left;"></ag-ui-spinner> <span style="vertical-align: top; display: inline-block; float: left; line-height: 22px; margin-left: 10px;">Loading resources...</span></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Script Format</label>
          <div class="col-sm-8">
            <div class="radio">
              <label>
                <input type="radio" name="format" value="coffee" ng-model="format" checked>
                CoffeeScript
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="format" value="js" ng-model="format">
                JavaScript
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">

            <div class="clearfix">
              <button type="button" class="btn btn-lg btn-primary" ng-click="generate()" ng-disabled="loadingResources || isGenerating || !selectedResource" style="display: inline-block; float: left;">
                Generate CRUD Scaffold
              </button>
              <ag-ui-spinner size="29" color="black" ng-show="isGenerating" style="display: inline-block; float: left; margin-left: 10px;"></ag-ui-spinner>
            </div>

            <div ng-show="generatorError">
              <p class="text-danger" style="margin-top: 6px;">Failed to generate scaffold. {{generatorErrorMessage ? generatorErrorMessage : "An unknown error occured."}}</p>
            </div>

            <div ng-show="generatorSuccess">
              <p class="text-success" style="margin-top: 6px;">
                <div ng-bind-html="generatorSuccessMessage"></div>
              </p>
            </div>

          </div>
        </div>

      </form>
    </div>

  </div>

</div>
